* {
    margin: 0;
    padding: 0;

}
body{
    background-color: #fff;
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}

.nav-nav{
    position: sticky;
    top: 0;
   
}

.logo {
    display: flex;
    height: 74px;
    align-items: center;
    overflow: hidden;
    background-color: #FFFFFF;
   
    
    
}

.mylogo {
    width: 59px;
    height: 42px;
    margin-left: 48px;
    position: relative;
}

ul{
    margin: auto 0 auto 0;
    margin-left: 5%;
    overflow: hidden;
    position: absolute;
    left: 82px;
    top: 24px;
    height: 17px;
    
}

ul li {
    display: inline-block;
    padding: 0 14.5px;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.search{
    position: absolute;
    left:675px;
    height: 50px;
    width: 100%;
}

    
.search-icon{
   margin-right: 1px; 
   display: inline-block;
   height: 25px;
   width: 36px;
   font-size: 12px;
   text-align: center;
   padding: 8px 0 2px;
   color: #696e79;
   background: #f5f5f6;
   border: 1px solid #f5f5f6;
   border-radius: 4px 0 0 4px;
   position: relative;
   
}
.search-box{
    display: inline-block;
    font-size: 12px;
    height: 17px;
    color: #696e79;
    padding: 8px 10px 10px;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    background: #f5f5f6;
    max-width: 330px;
    width: 100%;
    position: absolute;
    outline: none;
    
}
.list1{
   position: absolute;
   height: 40px;
   right: 0px;
   top: 12px;
   background-color: #FFFFFF;
}
.list{
    display: flex;
    margin: 0 10px;


}

.profile-box{
    position: relative;
    margin: 0 25px;
  
}

.profile-icon::before{
    content: "Profile";
    position: absolute;
    font-weight: 700;
    bottom: -16px;
    font-size: 11px;
    left: -10px;
}
.wishlist-item{
    position: relative;
    margin: 0 25px;
}
.wishlist-icon{
    margin: 10px 0 0;
    left: 5px;
}
.wishlist-icon::before{
    content: "Wishlist";
    position: absolute;
    font-weight: 700;
    bottom: -16px;
    font-size: 11px;
    left: -10px;
}
.bag-item{
    margin: 0 25px;
}
.bag-icon{
    left: 5px;
    position: relative;
}
.bag-icon::before{
    content: "Bag";
    position: absolute;
    font-weight: 700;
    bottom: -16px;
    font-size: 11px;
    left: -2px;
    color: #000;
}
.img{
    width: 19px;
}
.flat{
    
    transform: rotate(180deg);
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    padding: 4px;
    height: 200px;
    writing-mode: vertical-rl;
    color: #fff;
    letter-spacing: 1px;
   
}
.sidebar{
   
    position: fixed;
    width: 38px;
    height: 258px;
    background-color: #535766;
    right: 0;
    bottom: 130px;
    cursor: pointer;
    
}
.side-icon{
    font-size: 30px;
    color: #fff;
    height: 0;
    margin: 24px 12px;

}
.image-container{
  margin: 20px 0 0 0;
}
.image-1, .image-2,.image-3{
   display: flex; 
}
.image{
    width: 100%;
    height: auto;
    float: left;
}
.top,.top-1,.top-3,.top-4{
    width: 100%;
    height: auto;
}
.bar-1, .bar-2,.bar-3,.bar-4,.bar-5,.bar-6,.bar-7,.bar-8{
    display: flex;
}
.photo, .photo-1,.photo-2,.photo-3,.photo-4,.photo-5,.photo-6,.photo-7{
    width: 100%;
    height: auto;
    float: left;
}
.foot{
    padding: 40px 0px 40px 0px;
}

.f-container{
    display: flex;
    vertical-align: top;
    /* padding: 20px 0 ; */
    justify-content: space-between;
    
}

.onl{
    font-weight: 700;
    font-size: 12px;
}
.parah p a,.parah a{
    color: #282c3f;
    display: block;
    text-decoration: none;
    font-size: 12px;
    padding-bottom: 5px;

}
.parah a{
    color: #696b79;
    font-size: 14px;
}
.parah .onl a{
    padding: 16px 0 28px 0;
}
.parah-img{
    display: flex;

}
.parah-img a img{
    width: 120px;
    height: 40px;
    padding: 5px;
}
.parah-social{
    display: flex;
}.parah-social a img{
    width: 20px;
    height: 19px;
    padding: 6px;
}
.parah-social a .yt{
    width: 27px;
}
.social{
    padding-bottom: 0px;
    font-weight: 700;
}
.stock{
    padding: 16px 0 28px 0;
    width: 270px;
    
}
.stock-list,.stock-lists{
    display: flex;
    padding: 10px;
}
.original img{
    width: 48px;
}
.ori img{
    width: 45px;
}
strong{
    color: #282c3f;
}
.words{
    color: #696b79;
    font-size: 14px;
    padding-left: 10px;
}

.quote{
    position: relative;
    margin: 15px 0;
    
}
.quote strong{
    color: #282c3f;
    font-size: 13px;
}
.quote::before{
    border-bottom: 1px solid #eaeaec;
    content: " ";
    position: absolute;
    width: 85%;
    top: 10px;
    left: 8rem;
}
.quoteLine a{
    text-decoration: none;
    color: #696b79;
    font-size: 15px;
    line-height: 25px;
}
.pop{
    margin-top: 15px;
    color: #696b79;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}
.pop a{
   color: #526cd0;
   font-weight: 700; 
   font-size: 17px;
}
.pop-pop{
    color: #94969f;
}
.ad-container{
    margin-top: 15px;
    border-top: 1px solid #eaeaec;
    padding: 15px 0 ;
    font-size: 15px;
    font-weight: 700;
    color: #282c3f;
}
.address{
    position: relative;
    margin-top: 15px;
    color: #94969f;
}
.ad{
    line-height: 25px;
    font-size: 15px;
    color: #696b79;
}
.ad-num{
    position: absolute;
    right: 10px;
    bottom: 5px;
    margin-top: 20px;
}
.ad-num a{
    color: #526cd0;
    font-weight: 700;
}
.pg{
    font-size: 15px;
    border-top: 1px solid #eaeaec;
    margin: 15px 0;
    padding: 15px 0;
}
.pg1{
    color: #94969f;
}
.pg a{
    color: #282c3f;
}
.pg2 ,.pg3,.pg4{
    font-size: 15px;
    margin: 15px 0 10px 0;
    padding: 5px 0;
    color: #282c3f;
}
p, ol li{
    color: #94969f;
    font-size: 15px;
}
ol li{
    margin: 1em 0 1em 3em;
}

@media(max-width:1100px) {
    .mylogo {
        margin-left: 10px;
    }
    .ad-num{
        position: static;
    }
    .foot{
        padding: 0;
    }

}
